* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(115deg, #15436c, #283e51); 
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header-div {
  background-color: #1f2020;
  color: whitesmoke;
  padding: 10px;
  height: 80px;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px
}

#logo-div {
  height: 60px;
  width: 60px;
  margin-left: 15px;
  overflow: hidden;
  border: none;
}