* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(115deg, #15436c, #283e51); 
}

.container {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

#header-div {
  background-color: #1f2020;
  color: white;
  padding: 10px;
  height: 80px;
  width: 99%;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px
}

#logo-div {
  height: 60px;
  width: 60px;
  margin-left: 15px;
  overflow: hidden;
  border: none;
}

#search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#search-bar {
  width: 700px;
  height: 20px;
  padding: 10px;
  padding-left: 35px;
  font-size: 25px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 4px 4px 6px black;
}

#search-btn {
  height: 40px; 
  width: 40px;
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.15s ease, box-shadow 0.2s ease;
}

#search-btn:active {
  box-shadow: 0 0 15px #000000;
  transform: scale(0.88);
}


#btn-icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.error-Box {
  display:none;
  background:#eeeeee;
  color:#ff0000;
  font-weight: bold;
  padding:10px;
  border-radius:6px;
  margin-top:10px;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.spinner {
  position: fixed;             
  top: 0;
  left: 0;
  width: 100vw;                
  height: 100vh;               
  display: flex;      
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(3px);
  z-index: 9999;               
  display: none;               
}

.spinner::after {
  content: "";
  width: 60px;
  height: 60px;

  border: 6px solid rgba(255,255,255,0.3);
  border-top-color: #00aaff;
  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.render-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 350px 210px / 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.curr-weather-card {
  background-color: #1f2020;
  grid-area: 1 / 3 / 2 / 4;
  border-radius: 15px;
  box-shadow: 4px 4px 6px black;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#weather-icon {
  height: 120px;
  width: 120px;
  align-items: center;
  border: none;
  overflow: hidden;
  margin-left: 30%;
}

.weather-info, .weather-info-1, .weather-info-2, .weather-info-3, .weather-info-4, .weather-info-5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

.forecaste-1, .forecaste-2, .forecaste-3, .forecaste-4, .forecaste-5 {
  background-color: #1f2020;
  border-radius: 15px;
  box-shadow: 4px 4px 6px black;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.forecaste-1 {
  grid-area: 2 / 1 / 3 / 2;
}

.forecaste-2 {
  grid-area: 2 / 2 / 3 / 3;
}

.forecaste-3 {
  grid-area: 2 / 3 / 3/ 4;
}

.forecaste-4 {
  grid-area: 2 / 4 / 3 / 5;
}

.forecaste-5 {
  grid-area: 2 / 5 / 3 / 6;
}